<<<<<<< HEAD


<div class="header bg-primary">
	<a href="/gists" class="btn btn-primary btn-lg active" role="button"> Main Page</a>
	<a href="https://github.com/aczerwinska/my_gists" class="btn btn-primary btn-lg active" role="button"> Github</a>
=======
<<<<<<< HEAD
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<div class="header bg-primary">
<a href="/" class="btn btn-primary btn-lg active" role="button"> Main Page</a>
<a href="https://github.com/aczerwinska/my_gists" class="btn btn-primary btn-lg active" role="button"> Github</a>
>>>>>>> f21cc1d0678f2c01c36583d8856f544126dd359c
</div>

<div class="main">

<p id="notice"><%= notice %></p>

<p>
  <strong>Snippet:</strong>
  <%= raw Pygments.highlight(@gist.snippet, lexer: @gist.lang) %>
</p>

<p>
<<<<<<< HEAD
=======
=======
<p id="notice"><%= notice %></p>

<p>
>>>>>>> 8b1ec21485ddef8caa60b5a0d0e4f69058cfc7c7
>>>>>>> f21cc1d0678f2c01c36583d8856f544126dd359c
  <strong>Lang:</strong>
  <%= @gist.lang %>
</p>

<<<<<<< HEAD

=======
<<<<<<< HEAD

=======
<p>
  <strong>Snippet:</strong>
</p>

<%= raw Pygments.highlight(@gist.snippet, lexer: @gist.lang) %>
>>>>>>> 8b1ec21485ddef8caa60b5a0d0e4f69058cfc7c7
>>>>>>> f21cc1d0678f2c01c36583d8856f544126dd359c

<p>
  <strong>Description:</strong>
  <%= @gist.description %>
</p>

<%= link_to 'Edit', edit_gist_path(@gist) %> |
<<<<<<< HEAD
<%= link_to 'Back', gists_path %>

</div>
=======
<<<<<<< HEAD
<a href="/" role="button">Back</a>

</div>
=======
<%= link_to 'Back', gists_path %>
>>>>>>> 8b1ec21485ddef8caa60b5a0d0e4f69058cfc7c7
>>>>>>> f21cc1d0678f2c01c36583d8856f544126dd359c
